[package]
authors.workspace    = true
categories.workspace = true
edition.workspace    = true
keywords.workspace   = true
license.workspace    = true
repository.workspace = true

description = "syndicationd lib for tracing and opentelemetry ecosystem"
name        = "synd-o11y"
readme      = "README.md"
version     = "0.1.1"

[dependencies]
axum                               = { workspace = true }
http                               = { workspace = true }
opentelemetry                      = { workspace = true }
opentelemetry-appender-tracing     = { version = "0.2.0", default-features = false }                                                         # disable logs_level_enabled which affect global filtering
opentelemetry-http                 = { workspace = true }
opentelemetry-otlp                 = { version = "0.14.0", default-features = false, features = ["trace", "metrics", "logs", "grpc-tonic"] }
opentelemetry-semantic-conventions = { workspace = true }
opentelemetry_sdk                  = { workspace = true, features = ["logs", "rt-tokio"] }
rand                               = { workspace = true }
reqwest                            = { workspace = true }
tracing                            = { workspace = true }
tracing-opentelemetry              = { workspace = true }
tracing-subscriber                 = { workspace = true }

[lints]
workspace = true
