[workspace]
members  = ["crates/*"]
resolver = "2"

[workspace.package]
authors     = ["ymgyt"]
categories  = ["command-line-utilities"]
description = "terminal feed viewer"
edition     = "2021"
keywords    = ["feed", "rss", "atom", "tui"]
license     = "MIT OR Apache-2.0"
readme      = "README"
repository  = "https://github.com/ymgyt/syndicationd"

[workspace.dependencies]
anyhow             = { version = "1" }
async-trait        = { version = "0.1.77" }
axum               = { version = "0.7.4" }
chrono             = { version = "0.4.31" }
clap               = { version = "4.4" }
feed-rs            = { version = "1.4" }
futures-util       = { version = "0.3.30" }
graphql_client     = { version = "0.13.0", default-features = false }
http               = { version = "0.2" }                                                                                                   # request use 0.2
moka               = { version = "0.12.4", features = ["future"] }
opentelemetry_sdk  = { version = "0.21.2" }
reqwest            = { version = "0.11.23", default-features = false, features = ["rustls-tls", "json"] }
serde              = { version = "1", features = ["derive"] }
serde_json         = { version = "1.0.111" }
tokio              = { version = "1.35" }
tracing            = { version = "0.1.40" }
tracing-subscriber = { version = "0.3.18", features = ["smallvec", "fmt", "ansi", "std", "env-filter", "time"], default-features = false }
url                = { version = "2.5.0" }

[workspace.lints.rust]
unsafe_code = "forbid"

[workspace.lints.clippy]

# cargo
cargo_common_metadata   = "warn"
multiple_crate_versions = "allow"
negative_feature_names  = "warn"
redundant_feature_names = "warn"
wildcard_dependencies   = "warn"

# pedantic
pedantic = "warn"

missing_errors_doc      = "allow"
missing_panics_doc      = "allow"
module_name_repetitions = "allow"
must_use_candidate      = "allow"
