allowed-duplicate-crates = [
  # tonic v0.11 use axum 0.6
  "axum",

  # https://github.com/ratatui-org/ratatui/pull/1064#issuecomment-2078848980
  "windows-sys",
  "windows-targets",
  "windows_aarch64_gnullvm",
  "windows_aarch64_msvc",
  "windows_i686_gnu",
  "windows_i686_msvc",
  "windows_x86_64_gnu",
  "windows_x86_64_gnullvm",
  "windows_x86_64_msvc",

]
