[language-server.rust-analyzer.config]
inlayHints.bindingModeHints.enable             = false
inlayHints.chainingHints.enable                = true
inlayHints.closingBraceHints.minLines          = 20
inlayHints.closureCaptureHints.enable          = true
inlayHints.closureReturnTypeHints.enable       = "with_block"
inlayHints.discriminantHints.enable            = "fieldless"
inlayHints.lifetimeElisionHints.enable         = "skip_trivial"
inlayHints.typeHints.hideClosureInitialization = false

completion.autoimport.enable = true
# fill_arguments | add_parentheses | none
completion.callable.snippets             = "none"
completion.fullFunctionSignatures.enable = true

imports.granularity.enforce = true
imports.granularity.group   = "crate"
imports.group.enable        = true
imports.preferPrelude       = false
imports.prefix              = "crate"

lens.enable = false

diagnostics.disabled = ["inactive-code"]
hover.actions.enable = false

[language-server.rust-analyzer.config.cargo]
features = ["introspection", "integration", "opentelemetry-stdout", "graphql", "fake", "jsonschema", "color", "humantime"]

[language-server.rust-analyzer.config.check]
command  = "clippy"
features = "all"

[[language]]
auto-format = true
name        = "just"
