[advisories]
ignore = [
  # yaml-rust unmaintained, but serde_yaml use it
  "RUSTSEC-2024-0320",
  # https://github.com/ymgyt/syndicationd/issues/154
  "RUSTSEC-2024-0370",
  # paste unmaintained, wait for ratatui to update deps
  "RUSTSEC-2024-0436",
]

[yanked]
# in derivations we could not connect net
# crate-audit> error: couldn't check if the package is yanked: not found: No such crate in crates.io index: foo
enabled      = false
update_index = false
