name: CI
on:
  pull_request:
  push:
    paths:
      - '**.rs'
      - rust-toolchain.toml
      - flake.nix
      - Cargo.lock
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@V27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v15
        with:
          name: syndicationd
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix develop .#ci --accept-flake-config --command just check
      - name: Generate code coverage
        run: nix build .#coverage --accept-flake-config
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.4.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: result
